@font-face {
    font-family: 'Helvetica';
    src: url('fonts/Helvetica.ttf') format('ttf');
}

.container {
    position: relative;
    max-width: 1365px;
    margin: 0 auto;
}

#scrollBlock {
    position: fixed;
    top: -80px;
    right: 0;
    height: 80px;
    width: 100%;
    z-index: 5000;
    background-color:rgb(0, 0, 0);
    display: flex;
    align-items: center;
    transition: top 0.5s ease-in-out;
}

.scroll-content {
    width: 1242px;
    margin: 0 auto;
    color: rgb(255, 255, 255);
    font-family: Helvetica;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.scroll-btn {
    width: 225px;
    height: 40px;
    background-color: #ffffff;
    border-radius: 6.76px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.scroll-btn a {
    font-size: 16px;
    color: rgb(0, 0, 0);
    font-family: Helvetica;
    font-weight: 700;
    text-decoration: none;
}


.promo__delivery {
    background-color: black;
    height: 53px;
    display: flex;
    align-items: center;
}

.promo__delivery-content {
    font-size: 14px;
    width: 520px;
    margin: 0 auto;
    color: rgb(255, 255, 255);
    font-family: Helvetica;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 19px;
}

.promo__delivery-icon {
    margin-right: 14px;
}

.promo__delivery-text {
    font-weight: 700;
    display: flex;
    align-items: center;
}

.promo__delivery-link {
    font-weight: 400;
    position: relative;
    cursor: pointer;
}

.promo__delivery-link:hover {
    text-decoration: underline;
}

.header {
    height: 85vh;
    background: url(../img/header-image.jpeg) no-repeat 50%/cover;
    /* padding-bottom: 20px; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.header__content {
    flex: 0 1 auto;
    margin-top: -5vh;
    padding: 0 150px;
    /* padding-top: 54px; */
    color: white;
    display: flex;
    justify-content: space-between;
}



.header__information {
    font-size: 15px;
    width: 270px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Helvetica;
}

.header__information-instruction {
    font-weight: 700;
    line-height: 19px;
    text-decoration: none;
    color: #fff;
    transition: color 0.3s;
    cursor: pointer;
}

.header__information-instruction:hover {
    text-decoration: underline;
}



.header__information-icon img {
    width: 20px;
    height: 20px;
    margin-bottom: 2px;
}

.header__information-lang {
    font-weight: 400;
    line-height: 20px;
}

.header__title {
    font-size: 66px;
    width: 518px;
    flex: 0 1 auto;
    font-family: Helvetica;
    font-weight: 400;
    opacity: 0.67;
    color: rgb(255, 255, 255);
    margin: 0 auto;
    /* margin-top: 160px; */
    text-align: center;
}

.header__button {
    flex: 0 1 auto;
    width: 274.55px;
    height: 49.17px;
    background-color: #fff;
    border: none;
    padding: 0;
    display: block;
    margin: 0 auto;
    border-radius: 6.76px;
    /* margin-top: 260px; */
    /* margin-top: 240px; */
}

.header__button a {
    font-size: 21px;
    color: rgb(0, 0, 0);
    font-family: Helvetica;
    font-weight: 700;
    text-decoration: none;
}

.benefits {
    padding-top: 40px;
}

.benefits__wrapper {
    display: flex;
    justify-content: space-between;
}

.benefits__item {
    width: 440px;
    border-radius: 5px;
    background: rgb(246, 246, 247);
    padding: 20px 0 20px 25px;
    font-family: Helvetica;
    font-size: 22px;
    font-weight: 400;
    cursor: pointer;
}

.benefits__item-title {
    color: rgb(17, 17, 17);
    font-family: Helvetica;
    font-size: 19px;
    font-weight: 400;
    line-height: 21px;
}

.benefits__item-descr {
    margin-top: 67px;
    color: rgb(112, 112, 112);
    font-family: Helvetica;
    font-size: 15px;
    font-weight: 400;
    line-height: 15px;
    /* width: 216px; */
}

.films {
    padding-top: 54px;
}

.films__wrapper {
    border-radius: 5px;
    background: rgb(246, 246, 247);
    padding-top: 70px;
    padding-bottom: 77px;
}

.films__title {
    text-align: center;
    color: rgb(17, 17, 17);
    font-family: Helvetica;
    font-size: 26px;
    font-weight: 400;
}

.films__container {
    display: flex;
    width: 965px;
    margin: 0 auto;
    margin-top: 145px;
    justify-content: space-between;
}

.film, .films__container-elem {
    width: 297px;
    height: 391px;
    border-radius: 14.53px;
    position: relative;
    color: white;
}

.film-title, .films__container-title {
    font-family: Space-Grotesk;
    font-size: 17.07px;
    font-weight: 700;
    position: absolute;
    top: 32px;
    left: 32px;
    letter-spacing: 2px;
}

.film-circle, .films__container-circle {
    width: 210px;
    height: 210px;
    box-sizing: border-box;
    border: 4.04px solid rgb(255, 255, 255);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    margin-top: -105px;
    left: 50%;
    margin-left: -105px;
}

.film-color, .films__container-color {
    font-family: Helvetica;
    font-size: 17.86px;
    font-weight: 400;
    position: absolute;
    bottom: 32px;
    left: 32px;
}

#color {
    background: linear-gradient(155.36deg, rgb(2, 41, 181) 6.254%,rgb(13, 161, 244) 123.853%);
}

#magic-color {
    background: linear-gradient(180.00deg, rgb(255, 138, 0),rgb(226, 205, 15) 100%);
}

#monochrom {
    background: linear-gradient(180.00deg, rgb(200, 200, 200),rgb(230, 230, 230) 100%);
    color: black;
}

#monochrom .films__container-circle, #monochrom .film-circle {
    border: 4.04px solid rgb(0, 0, 0);
}

.films__link {
    text-align: center;
    margin-top: 80px;
}

.films__link a {
    color: rgb(90, 90, 90);
    font-family: Helvetica;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
}

.films__link a:hover {
    text-decoration: underline;
}

.mission {
    padding-top: 35px;
}

.mission__wrapper {
    border-radius: 5px;
    background: rgb(246, 246, 247);
    display: flex;
}

.mission__descr {
    padding-right: 62px;
    padding-top: 50px;
    padding-left: 77px;
    text-transform: lowercase;
    width: 700px;
    color: rgb(0, 0, 0);
    font-family: Helvetica;
    font-size: 26px;
    font-weight: 400;
    position: relative;
}

.mission__descr-link {
    position: absolute;
    bottom: 54px;
}

.mission__descr-link a {
    color: rgb(21, 21, 21);
    font-family: Helvetica;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
}

.mission__descr-link a:hover {
    text-decoration: underline;
}

.development {
    padding-top: 35px;
}

.development__wrapper {
    cursor: pointer;
    min-height: 736px;
    background: url('../img/dev-studio-img.jpg') no-repeat 50%/cover;
    padding-top: 80px;
    padding-left: 110px;
}

.development__wrapper:hover .development__wrapper-link {
    text-decoration: underline;
}

.development__wrapper-title {
    color: rgb(255, 255, 255);
    font-family: Helvetica;
    font-size: 29.04px;
    font-weight: 700;
}

.development__wrapper-descr {
    color: rgb(255, 255, 255);
    font-family: Helvetica;
    font-size: 26px;
    font-weight: 400;
    margin-top: 166px;
}

.development__wrapper-link {
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-family: Helvetica;
    font-size: 16px;
    font-weight: 700;
    margin-top: 245px;
}

.eco {
    padding-top: 35px;
}

.eco__wrapper {
    min-height: 720px;
    background: url('../img/eco-img.jpg') no-repeat 50%/cover;
    padding: 76px 0 0 110px;
    position: relative;
    cursor: pointer;
}

.eco__wrapper:hover .eco__wrapper-link {
    text-decoration: underline;
}

.eco__wrapper-title {
    color: rgb(61, 137, 62);
    font-family: Helvetica;
    font-size: 26px;
    font-weight: 400;
}

.eco__wrapper-link {
    color: rgb(255, 255, 255);
    font-family: Helvetica;
    font-size: 16px;
    font-weight: 700;
    position: absolute;
    bottom: 67px;
}

.eco__wrapper-link:hover {
    cursor: pointer;
}

.saving {
    padding-top: 35px;
}

.saving__wrapper {
    border-radius: 5px;
    background: rgb(246, 246, 247);
    padding-top: 130px;
    padding-left: 110px;
    height: 740px;
    position: relative;
}

.saving__wrapper-title {
    color: rgb(0, 0, 0);
    font-family: Helvetica;
    font-size: 26px;
    font-weight: 400;
}

.saving__wrapper-link {
    color: rgb(0, 0, 0);
    font-family: Helvetica;
    font-size: 16px;
    font-weight: 700;
    position: absolute;
    bottom: 67px;
}

.information {
    padding-top: 35px;
}

.information__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.information__elem {
    width: 665px;
    height: 738px;
    overflow: hidden;
    position: relative;
    margin-bottom: 20px;
    border-radius: 5px;
}

.information__elem-title {
    color: rgb(61, 137, 62);
    font-family: Helvetica;
    font-size: 26px;
    font-weight: 400;
    width: 543px;
    margin: 0 auto;
}

.information__elem-img {
    margin: 0 auto;
    margin-top: 145px;
}

.information__elem img {
    display: block;
}

#development-information {
    border-radius: 5px;
    background: rgb(242, 242, 242);
    padding-top: 37px;
}


#frames-info {
    cursor: pointer;
    position: absolute;
    left: 80px;
    top: 370px;
    color: rgb(255, 255, 255);
    font-family: Helvetica;
    font-size: 26px;
    font-weight: 700;
}

#director-info {
    color: rgb(255, 255, 255);
    font-family: Helvetica;
    font-size: 26px;
    font-weight: 400;
    position: absolute;
    left: 80px;
    top: 290px;
}

#instagram-info {
    color: rgb(255, 255, 255);
    font-family: Helvetica;
    font-size: 26px;
    font-weight: 700;
    position: absolute;
    left: 40px;
    top: 353px;
}

.types {
    padding-top: 25px;
}

.types__wrapper {
    padding: 90px 0 90px 130px;
    margin-bottom: 35px;
    border-radius: 5px;
    display: flex;
}

.types__wrapper-content {
    color: rgb(0, 0, 0);
    font-family: Helvetica;
    font-size: 26px;
    font-weight: 400;
    margin-left: 100px;
    position: relative;
}

.types__wrapper-elem {
    width: 420px;
    height: 555px;
}

.types__wrapper-title {
    font-size: 23.33px;
}

.types__wrapper-circle {
    width: 296px;
    height: 296px;
    margin-top: -148px;
    margin-left: -148px;
}

.types__wrapper-color {
    font-size: 25.33px;
}

.types__wrapper-link {
    cursor: pointer;
    color: rgb(90, 90, 90);
    font-family: Helvetica;
    font-size: 16px;
    font-weight: 700;
    margin-top: 455px;
    position: absolute;
    bottom: 0;
    line-height: 15px;
}

.types__wrapper-link:hover {
    text-decoration: underline;
}

#first-film-type {
    background: rgb(210, 219, 245);
}

#second-film-type {
    background: rgb(248, 222, 192);
}

#third-film-type {
    background: rgb(237, 237, 237);
}

.modal-container {
    background-color: rgba(0, 0, 0, 0.3);
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    display: none;
    z-index: 6000;
    position: fixed;
    overflow: auto;
}

.close-button {
    color: #aaaaaa;
    font-size: 45px;
    font-weight: bold;
    position: absolute;
    top: 0;
    right: 15px;
}

.close-button:hover, .close-button:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#black-close:hover, #black-close:focus {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.close-icon {
    position: absolute;
    top: 20px;
    right: 15px;
    cursor: pointer;
}

.modal {
    position: relative;
    width: 1130px;
    border-radius: 3.6px;
    padding-top: 90px;
    padding-bottom: 105px;
    max-height: 90vh; 
    overflow-y: auto; 
    display: none;
}

#eco {
    background: rgb(240, 247, 240);
}

.eco-wrapper {
    width: 710px;
    margin: 0 auto;
}

.eco-title {
    color: rgb(0, 0, 0);
    font-family: Helvetica;
    font-size: 35.65px;
    font-weight: 400;
}

.eco-descr {
    color: rgb(0, 0, 0);
    font-family: Helvetica;
    font-size: 22.52px;
    font-weight: 700;
    margin-top: 100px;
}

.eco-block {
    margin-top: 80px;
}

.eco-elem {
    border-radius: 6.57px;
    background: rgb(255, 255, 255);
    margin-bottom: 15px;
}

.eco-elem-wrapper {
    display: flex;
    justify-content: space-between;
}

.eco-elem-content {
    padding-top: 30px;
    padding-left: 40px;
    padding-bottom: 55px;
}

.eco-elem-img img {
    height: 100%;
    width: 100%;
}

.eco-elem-circle {
    width: 28.14px;
    height: 28.14px;
    background: rgb(235, 235, 235);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.eco-elem-title {
    color: rgb(13, 200, 32);
    font-family: Helvetica;
    font-size: 23.45px;
    font-weight: 700;
    margin-top: 25px;
}

.eco-elem-descr {
    color: rgb(13, 200, 32);
    font-family: Helvetica;
    font-size: 16.89px;
    font-weight: 400;
    margin-top: 25px;
}

#developing-studio {
    background: rgb(33, 33, 33);
}

.developing-studio-logo {
    color: rgb(255, 255, 255);
    font-family: Helvetica;
    font-size: 26.7px;
    font-weight: 700;
}

.developing-studio-wrapper {
    width: 786px;
    margin: 0 auto;
}

.developing-studio-title {
    color: rgb(255, 255, 255);
    font-family: Helvetica;
    font-size: 34.93px;
    font-weight: 400;
    margin-top: 80px;
}

.developing-studio-img {
    margin-top: 50px;
}

.developing-studio-img img {
    width: 100%;
}

.developing-studio-descr {
    color: rgb(255, 255, 255);
    font-family: Helvetica;
    font-size: 34.93px;
    font-weight: 400;
    margin-top: 100px;
}

.developing-studio-options {
    margin-top: 75px;
    border-radius: 6.44px;
    background: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
}

.developing-studio-options-content {
    padding: 35px 0 25px 40px;
    position: relative;
}

.developing-studio-options-title {
    color: rgb(255, 255, 255);
    font-family: Helvetica;
    font-size: 22.98px;
    font-weight: 400;
}

.developing-studio-options-descr {
    color: rgb(255, 255, 255);
    font-family: Helvetica;
    font-size: 16.55px;
    font-weight: 400;
    margin-top: 65px;
    position: absolute;
    bottom: 25px;
}

.developing-studio-packeta {
    margin-top: 65px;   
    padding: 30px 0 65px 30px;
    border-radius: 6.44px;
    background: rgb(171, 46, 25);
    position: relative;
}

.developing-studio-packeta-descr {
    color: rgb(255, 255, 255);
    font-family: Helvetica;
    font-size: 23px;
    font-weight: 400;
}

.developing-studio-packeta-link {
    color: rgb(255, 255, 255);
    font-family: Helvetica;
    font-size: 16px;
    font-weight: 700;
    position: absolute;
    top: 115px;
    right: 50px;
}

.developing-studio-text {
    margin-top: 75px;
    color: rgb(255, 255, 255);
    font-family: Helvetica;
    font-size: 22.98px;
    font-weight: 400;
}

#second-text {
    margin-top: 30px;
}

#goal {
    border-radius: 3.6px;
    background: rgb(246, 246, 247);
}

.goal-wrapper {
    width: 787px;
    margin: 0 auto;
}

.goal-title {
    color: rgb(0, 0, 0);
    font-family: Helvetica;
    font-size: 34.93px;
    font-weight: 400;
}

.goal-descr {
    margin-top: 60px;
    color: rgb(0, 0, 0);
    font-family: Helvetica;
    font-size: 23px;
    font-weight: 700;
}

.goal-phone, .goal-phone a {
    color: rgb(0, 0, 0);
    font-family: Helvetica;
    font-size: 25px;
    font-weight: 400;
    margin-top: 60px;
}

.goal-phone a {
    text-decoration: none;
}

.goal-img {
    margin-top: 80px;
}

.modal-films {
    border-radius: 3.6px;
    background: rgb(255, 255, 255);
}

.films-wrapper {
    width: 787px;
    margin: 0 auto;
}

.films-title {
    color: rgb(0, 0, 0);
    font-family: Helvetica;
    font-size: 34.93px;
    font-weight: 400;
}

.films-elem {
    width: 315.37px;
    height: 416.14px;
    margin: 0 auto;
    margin-top: 60px;
}

.films-descr {
    color: rgb(0, 0, 0);
    font-family: Helvetica;
    font-size: 23px;
    font-weight: 400;
    margin-top: 80px;
}

.films-example {
    color: rgb(0, 0, 0);
    font-family: Helvetica;
    font-size: 24px;
    font-weight: 400;
    margin-top: 55px;
}

.films-images {
    margin-top: 45px;
}

.films-img {
    margin-bottom: 25px;
}

#instruction {
    border-radius: 3.6px;
    background: rgb(235, 235, 235);
}

.instruction-wrapper {
    width: 787px;
    margin: 0 auto;
}

.instruction-title {
    color: rgb(0, 0, 0);
    font-family: Helvetica;
    font-size: 29px;
    font-weight: 400;
}

.instruction-block {
    margin-top: 50px;
}

.instruction-elem {
    width: 760px;
    display: flex;
    justify-content: space-between;
    border-radius: 6.57px;
    background: rgb(255, 255, 255);
    margin-bottom: 15px;
}

.instruction-content {
    padding: 40px 0 60px 40px;
}

.instruction-text {
    color: rgb(0, 0, 0);
    font-family: Helvetica;
    font-size: 22.5px;
    font-weight: 700;
    display: flex;
}

.instruction-descr {
    color: rgb(39, 39, 39);
    font-family: Helvetica;
    font-size: 16px;
    font-weight: 400;
    margin-top: 90px;
}

.instruction-number {
    margin-right: 10px;
}

.instruction-addition {
    margin-top: 80px;
    color: rgb(0, 0, 0);
    font-family: Helvetica;
    font-size: 16px;
    font-weight: 400;
}

#quality {
    display: block;
    border-radius: 3.6px;
    background: rgb(235, 235, 235);
}

.quality-wrapper {
    width: 787px;
    margin: 0 auto;
}

.quality-title {
    color: rgb(0, 0, 0);
    font-family: Helvetica;
    font-size: 29px;
    font-weight: 400;
}

.quality-img {
    margin: 0 auto;
    margin-top: 40px;
    display: block;
}

/* @media (max-width: 1799px) {
    .promo__delivery-content {
        font-size: 14px;
        width: 520px;
    }

    .header__information {
        font-size: 15px;
        width: 270px;
    }

    .header__title {
        font-size: 66px;
        width: 518px;
    }

    .header__button a {
        font-size: 21px;
    }
} */

@media (max-width: 1439px) {
    .container {
        width: 1140px;
    }

    .benefits__item {
        width: 360px;
    }
}

@media (max-width: 1279px) {
    .container {
        width: 960px;
    }
    
    .benefits__item {
        width: 300px;
    }
}

@media (max-width: 1023px) {
    .container {
        width: 720px;
    }

    .benefits__item {
        width: 225px;
    }
}

@media (max-width: 767px) {
    .container {
        width: 100%;
    }
}

