@font-face {
    font-family: 'Helvetica';
    src: url('fonts/Helvetica.ttf') format('ttf');
}

.container {
    position: relative;
    max-width: 1365px;
    margin: 0 auto;
}

.cart-page {
    overflow: hidden;
}

#scrollBlock {
    position: fixed;
    top: -80px;
    right: 0;
    height: 55px;
    width: 100%;
    z-index: 5000;
    background-color:rgb(0, 0, 0);
    display: flex;
    align-items: center;
    transition: top 0.5s ease-in-out;
}

#scrollBlock-mobile {
    position: fixed;
    display: none;
    bottom: 0;
    right: 0;
    height: 55px;
    width: 100%;
    z-index: 5000;
    background-color:rgb(0, 0, 0);
    align-items: center;
}

.scroll-text {
    font-size: 13.5px;
}

.scroll-content {
    width: 1242px;
    margin: 0 auto;
    color: rgb(255, 255, 255);
    font-family: Helvetica;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.scroll-btn {
    width: 225px;
    height: 40px;
    background-color: #ffffff;
    border-radius: 6.76px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: rgb(0, 0, 0);
    font-family: Helvetica;
    font-weight: 700;
    cursor: pointer;
}


.promo__delivery {
    background-color: black;
    height: 53px;
    display: flex;
    align-items: center;
}

.promo__delivery-content {
    font-size: 14px;
    width: 520px;
    margin: 0 auto;
    color: rgb(255, 255, 255);
    font-family: Helvetica;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 19px;
}

.promo__delivery-icon {
    margin-right: 14px;
}

.promo__delivery-text {
    font-weight: 700;
    display: flex;
    align-items: center;
}

.promo__delivery-link {
    font-weight: 400;
    position: relative;
    cursor: pointer;
}

.promo__delivery-link:hover {
    text-decoration: underline;
}

.header {
    height: 85vh;
    background: url(../img/header-image.jpeg) no-repeat 50%/cover;
    /* padding-bottom: 20px; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.header__content {
    flex: 0 1 auto;
    margin-top: -5vh;
    padding: 0 150px;
    /* padding-top: 54px; */
    color: white;
    display: flex;
    justify-content: space-between;
}

.logo-small img {
    width: 120px;
}

.header__home:hover .change-color {
    fill: #2d2d2d;
}



.header__information {
    font-size: 15px;
    width: 270px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Helvetica;
}

.header__information-instruction {
    font-weight: 700;
    line-height: 19px;
    text-decoration: none;
    color: #fff;
    transition: color 0.3s;
    cursor: pointer;
}

.header__information-instruction:hover {
    text-decoration: underline;
}



.header__information-icon img {
    width: 20px;
    height: 20px;
    margin-bottom: 2px;
}

.header__information-lang {
    font-weight: 400;
    line-height: 20px;
    cursor: pointer;
}

.header__title {
    line-height: 62px;
    font-size: 66px;
    width: 518px;
    flex: 0 1 auto;
    font-family: Helvetica;
    font-weight: 400;
    opacity: 0.67;
    color: rgb(255, 255, 255);
    margin: 0 auto;
    /* margin-top: 160px; */
    text-align: center;
}

.header__button {
    flex: 0 1 auto;
    width: 274.55px;
    height: 49.17px;
    background-color: #fff;
    border: none;
    padding: 0;
    display: block;
    margin: 0 auto;
    border-radius: 6.76px;
    font-size: 21px;
    color: rgb(0, 0, 0);
    font-family: Helvetica;
    font-weight: 700;
    /* margin-top: 260px; */
    /* margin-top: 240px; */
}

.benefits {
    padding-top: 40px;
}

.benefits__wrapper {
    display: flex;
    justify-content: space-between;
}

.benefits__item {
    width: 440px;
    border-radius: 5px;
    background: rgb(246, 246, 247);
    padding: 20px 0 20px 25px;
    font-family: Helvetica;
    font-size: 22px;
    font-weight: 400;
    cursor: pointer;
}

.benefits__item:hover .benefits__item-title {
    text-decoration: underline;
}

.benefits__item-title {
    color: rgb(17, 17, 17);
    font-family: Helvetica;
    font-size: 19px;
    font-weight: 400;
    line-height: 21px;
}

.benefits__item-descr {
    margin-top: 67px;
    color: rgb(112, 112, 112);
    font-family: Helvetica;
    font-size: 15px;
    font-weight: 400;
    line-height: 15px;
    /* width: 216px; */
}

.films {
    padding-top: 54px;
}

.films__wrapper {
    border-radius: 5px;
    background: rgb(246, 246, 247);
    padding-top: 70px;
    padding-bottom: 77px;
    cursor: pointer;
}

.films__wrapper:hover .films__link {
    text-decoration: underline;
}

.films__title {
    text-align: center;
    color: rgb(17, 17, 17);
    font-family: Helvetica;
    font-size: 26px;
    font-weight: 400;
}

.films__container {
    display: flex;
    width: 965px;
    margin: 0 auto;
    margin-top: 145px;
    justify-content: space-between;
}

.film, .films__container-elem {
    width: 297px;
    height: 391px;
    border-radius: 14.53px;
    position: relative;
    color: white;
}

.film-title, .films__container-title {
    font-family: Space-Grotesk;
    font-size: 17.07px;
    font-weight: 700;
    position: absolute;
    top: 32px;
    left: 32px;
    letter-spacing: 2px;
}

.film-circle, .films__container-circle {
    width: 210px;
    height: 210px;
    box-sizing: border-box;
    border: 4.04px solid rgb(255, 255, 255);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    margin-top: -105px;
    left: 50%;
    margin-left: -105px;
}

.film-color, .films__container-color {
    font-family: Helvetica;
    font-size: 17.86px;
    font-weight: 400;
    position: absolute;
    bottom: 32px;
    left: 32px;
}

#color {
    background: linear-gradient(155.36deg, rgb(2, 41, 181) 6.254%,rgb(13, 161, 244) 123.853%);
}

#magic-color {
    background: linear-gradient(180.00deg, rgb(255, 138, 0),rgb(226, 205, 15) 100%);
}

#monochrom {
    background: linear-gradient(180.00deg, rgb(200, 200, 200),rgb(230, 230, 230) 100%);
    color: black;
}

#monochrom .films__container-circle, #monochrom .film-circle {
    border: 4.04px solid rgb(0, 0, 0);
}

.films__link {
    text-align: center;
    margin-top: 80px;
    color: rgb(90, 90, 90);
    font-family: Helvetica;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}


.films__link:hover {
    text-decoration: underline;
}

.mission {
    padding-top: 35px;
}

.mission__wrapper {
    border-radius: 5px;
    background: rgb(246, 246, 247);
    display: flex;
    cursor: pointer;
}

.mission__wrapper:hover .mission__descr-link {
    text-decoration: underline;
}

.mission__descr {
    padding-right: 62px;
    padding-top: 50px;
    padding-left: 77px;
    text-transform: lowercase;
    width: 700px;
    color: rgb(0, 0, 0);
    font-family: Helvetica;
    font-size: 26px;
    font-weight: 400;
    position: relative;
}

.mission__descr-link {
    position: absolute;
    bottom: 54px;
    color: rgb(21, 21, 21);
    font-family: Helvetica;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
}


.mission__descr-link:hover {
    text-decoration: underline;
}

.development {
    padding-top: 35px;
}

.development__wrapper {
    cursor: pointer;
    height: 736px;
    background: url('../img/dev-studio-img.jpg') no-repeat 50%/cover;
    padding-top: 80px;
    padding-left: 110px;
}

.development__wrapper:hover .development__wrapper-link {
    text-decoration: underline;
}

.development__wrapper-title {
    color: rgb(255, 255, 255);
    font-family: Helvetica;
    font-size: 29.04px;
    font-weight: 700;
}

.development__wrapper-descr {
    color: rgb(255, 255, 255);
    font-family: Helvetica;
    font-size: 26px;
    font-weight: 400;
    margin-top: 166px;
}

.development__wrapper-link {
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-family: Helvetica;
    font-size: 16px;
    font-weight: 700;
    margin-top: 245px;
}

.eco {
    padding-top: 35px;
}

.eco__wrapper {
    height: 720px;
    background: url('../img/eco-img.jpg') no-repeat 50%/cover;
    padding: 76px 0 0 110px;
    position: relative;
    cursor: pointer;
}

.eco__wrapper:hover .eco__wrapper-link {
    text-decoration: underline;
}

.eco__wrapper-title {
    color: rgb(61, 137, 62);
    font-family: Helvetica;
    font-size: 26px;
    font-weight: 400;
}

.eco__wrapper-link {
    color: rgb(255, 255, 255);
    font-family: Helvetica;
    font-size: 16px;
    font-weight: 700;
    position: absolute;
    bottom: 67px;
}

.eco__wrapper-link:hover {
    cursor: pointer;
}

.saving {
    padding-top: 35px;
}

.saving__wrapper {
    border-radius: 5px;
    background: rgb(246, 246, 247);
    padding-top: 130px;
    padding-left: 110px;
    height: 740px;
    position: relative;
    cursor: pointer;
}

.saving__wrapper:hover .saving__wrapper-link {
    text-decoration: underline;
}

.saving__wrapper-title {
    color: rgb(0, 0, 0);
    font-family: Helvetica;
    font-size: 26px;
    font-weight: 400;
}

.saving__wrapper-link {
    color: rgb(0, 0, 0);
    font-family: Helvetica;
    font-size: 16px;
    font-weight: 700;
    position: absolute;
    bottom: 67px;
}

.information {
    padding-top: 35px;
}

.information__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.information__elem {
    width: 665px;
    height: 738px;
    overflow: hidden;
    position: relative;
    margin-bottom: 20px;
    border-radius: 5px;
    cursor: pointer;
}

.information__elem:hover #frames-info  {
    text-decoration: underline;
}

.information__elem:hover #director-info  {
    text-decoration: underline;
}

.information__elem:hover #instagram-info  {
    text-decoration: underline;
}

.information__elem-title {
    color: rgb(61, 137, 62);
    font-family: Helvetica;
    font-size: 26px;
    font-weight: 400;
    width: 543px;
    margin: 0 auto;
}

.information__elem-img {
    margin: 0 auto;
    margin-top: 145px;
}

.information__elem img {
    display: block;
}

#development-information {
    border-radius: 5px;
    background: rgb(242, 242, 242);
    padding-top: 37px;
}


#frames-info {
    cursor: pointer;
    position: absolute;
    left: 80px;
    top: 370px;
    color: rgb(255, 255, 255);
    font-family: Helvetica;
    font-size: 26px;
    font-weight: 700;
}

#director-info {
    color: rgb(255, 255, 255);
    font-family: Helvetica;
    font-size: 26px;
    font-weight: 400;
    position: absolute;
    left: 80px;
    top: 290px;
}

#instagram-info {
    color: rgb(255, 255, 255);
    font-family: Helvetica;
    font-size: 26px;
    font-weight: 700;
    position: absolute;
    left: 80px;
    top: 370px;
}

.types {
    padding-top: 25px;
}

.types__wrapper {
    padding: 90px 0 90px 130px;
    margin-bottom: 35px;
    border-radius: 5px;
    display: flex;
    cursor: pointer;
}

.types__wrapper img {
    height: 555px;
}

.types__wrapper:hover .types__wrapper-link {
    text-decoration: underline;
}

.types__wrapper-content {
    color: rgb(0, 0, 0);
    font-family: Helvetica;
    font-size: 26px;
    font-weight: 400;
    margin-left: 100px;
    position: relative;
}

.types__wrapper-elem {
    width: 420px;
    height: 555px;
}

.types__wrapper-title {
    font-size: 23.33px;
}

.types__wrapper-circle {
    width: 296px;
    height: 296px;
    margin-top: -148px;
    margin-left: -148px;
}

.types__wrapper-color {
    font-size: 25.33px;
}

.types__wrapper-link {
    cursor: pointer;
    color: rgb(90, 90, 90);
    font-family: Helvetica;
    font-size: 16px;
    font-weight: 700;
    position: absolute;
    bottom: 0;
    line-height: 15px;
}

.types__wrapper-link:hover {
    text-decoration: underline;
}

#first-film-type {
    background: rgb(210, 219, 245);
}

#second-film-type {
    background: rgb(248, 222, 192);
}

#third-film-type {
    background: rgb(237, 237, 237);
}

.modal-container {
    background-color: rgba(0, 0, 0, 0.3);
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    display: none;
    z-index: 6000;
    position: fixed;
    overflow: auto;
}

.close-button {
    color: #aaaaaa;
    font-size: 45px;
    font-weight: bold;
    position: absolute;
    top: 0;
    right: 15px;
}

.close-button:hover, .close-button:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#black-close:hover, #black-close:focus {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.close-icon {
    position: absolute;
    top: 20px;
    right: 15px;
    cursor: pointer;
}

.modal {
    position: relative;
    width: 1130px;
    border-radius: 3.6px;
    padding-top: 90px;
    padding-bottom: 105px;
    max-height: 90vh; 
    overflow-y: auto; 
    display: none;
}

#eco {
    background: #C4F6B8;
}

.eco-wrapper {
    width: 710px;
    margin: 0 auto;
}

.eco-title {
    color: #006C01;
    font-family: Helvetica;
    font-size: 35.65px;
    font-weight: bold;
}

.eco-descr {
    color: rgb(0, 0, 0);
    font-family: Helvetica;
    font-size: 22.52px;
    font-weight: 700;
    margin-top: 100px;
}

.eco-block {
    margin-top: 80px;
}

.eco-elem {
    border-radius: 6.57px;
    background: rgb(255, 255, 255);
    margin-bottom: 15px;
}

.eco-elem-wrapper {
    display: flex;
    justify-content: space-between;
}

.eco-elem-content {
    padding-top: 30px;
    padding-left: 40px;
    padding-bottom: 55px;
}

.eco-elem-img img {
    height: 100%;
    width: 100%;
}

.eco-elem-circle {
    width: 28.14px;
    height: 28.14px;
    background: rgb(235, 235, 235);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.eco-elem-title {
    color: rgb(13, 200, 32);
    font-family: Helvetica;
    font-size: 23.45px;
    font-weight: 700;
    margin-top: 25px;
}

.eco-elem-descr {
    color: rgb(13, 200, 32);
    font-family: Helvetica;
    font-size: 16.89px;
    font-weight: 400;
    margin-top: 25px;
}

#developing-studio {
    background: rgb(33, 33, 33);
}

.developing-studio-logo {
    color: rgb(255, 255, 255);
    font-family: Helvetica;
    font-size: 26.7px;
    font-weight: 700;
}

.developing-studio-wrapper {
    width: 786px;
    margin: 0 auto;
}

.developing-studio-title {
    color: rgb(255, 255, 255);
    font-family: Helvetica;
    font-size: 34.93px;
    font-weight: 400;
    margin-top: 80px;
}

.developing-studio-img {
    margin-top: 50px;
}

.developing-studio-img img {
    width: 100%;
}

.developing-studio-descr {
    color: rgb(255, 255, 255);
    font-family: Helvetica;
    font-size: 34.93px;
    font-weight: 400;
    margin-top: 100px;
}

.developing-studio-options {
    margin-top: 75px;
    border-radius: 6.44px;
    background: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
}

.developing-studio-options-content {
    padding: 35px 0 25px 40px;
    position: relative;
}

.developing-studio-options-title {
    color: rgb(255, 255, 255);
    font-family: Helvetica;
    font-size: 22.98px;
    font-weight: 400;
}

.developing-studio-options-descr {
    color: rgb(255, 255, 255);
    font-family: Helvetica;
    font-size: 16.55px;
    font-weight: 400;
    margin-top: 65px;
    position: absolute;
    bottom: 25px;
}

.developing-studio-packeta {
    margin-top: 65px;   
    padding: 30px 0 65px 30px;
    border-radius: 6.44px;
    background: rgb(171, 46, 25);
    position: relative;
}

.developing-studio-packeta-descr {
    color: rgb(255, 255, 255);
    font-family: Helvetica;
    font-size: 23px;
    font-weight: 400;
}

.developing-studio-packeta-link {
    color: rgb(255, 255, 255);
    font-family: Helvetica;
    font-size: 16px;
    font-weight: 700;
    position: absolute;
    top: 115px;
    right: 50px;
}

.developing-studio-text {
    margin-top: 75px;
    color: rgb(255, 255, 255);
    font-family: Helvetica;
    font-size: 22.98px;
    font-weight: 400;
}

#second-text {
    margin-top: 30px;
}

#goal {
    border-radius: 3.6px;
    background: rgb(246, 246, 247);
}

.goal-wrapper {
    width: 787px;
    margin: 0 auto;
}

.goal-title {
    color: rgb(0, 0, 0);
    font-family: Helvetica;
    font-size: 34.93px;
    font-weight: 400;
}

.goal-descr {
    margin-top: 60px;
    color: rgb(0, 0, 0);
    font-family: Helvetica;
    font-size: 23px;
    font-weight: 700;
}

.goal-phone, .goal-phone a {
    color: rgb(0, 0, 0);
    font-family: Helvetica;
    font-size: 25px;
    font-weight: 400;
    margin-top: 60px;
}

.goal-phone a {
    text-decoration: none;
}

.goal-img {
    margin-top: 80px;
}

.modal-films {
    border-radius: 3.6px;
    background: rgb(255, 255, 255);
}

.films-wrapper {
    width: 787px;
    margin: 0 auto;
}

.films-title {
    color: rgb(0, 0, 0);
    font-family: Helvetica;
    font-size: 34.93px;
    font-weight: 400;
}

.films-elem {
    width: 315.37px;
    height: 416.14px;
    margin: 0 auto;
    margin-top: 60px;
}

.films-descr {
    color: rgb(0, 0, 0);
    font-family: Helvetica;
    font-size: 23px;
    font-weight: 400;
    margin-top: 80px;
}

.films-example {
    color: rgb(0, 0, 0);
    font-family: Helvetica;
    font-size: 24px;
    font-weight: 400;
    margin-top: 55px;
}

.films-images {
    margin-top: 45px;
}

.films-img {
    margin-bottom: 25px;
}

#instruction {
    border-radius: 3.6px;
    background: rgb(235, 235, 235);
}

.instruction-wrapper {
    width: 787px;
    margin: 0 auto;
}

.instruction-title {
    color: rgb(0, 0, 0);
    font-family: Helvetica;
    font-size: 29px;
    font-weight: 400;
}

.instruction-block {
    margin-top: 50px;
}

.instruction-elem {
    width: 760px;
    display: flex;
    justify-content: space-between;
    border-radius: 6.57px;
    background: rgb(255, 255, 255);
    margin-bottom: 15px;
}

.instruction-content {
    padding: 40px 0 35px 40px;
}

.instruction-text {
    color: rgb(0, 0, 0);
    font-family: Helvetica;
    font-size: 22.5px;
    font-weight: 700;
    display: flex;
}

.instruction-descr {
    color: rgb(39, 39, 39);
    font-family: Helvetica;
    font-size: 16px;
    font-weight: 400;
    margin-top: 116px;
    line-height: 22px;
}

.instruction-number {
    margin-right: 10px;
}

.instruction-number-text {
    line-height: 27px;
}

.instruction-addition {
    margin-top: 80px;
    color: rgb(0, 0, 0);
    font-family: Helvetica;
    font-size: 16px;
    font-weight: 400;
}

#quality {
    display: block;
    border-radius: 3.6px;
    background: rgb(235, 235, 235);
}

.quality-wrapper {
    width: 787px;
    margin: 0 auto;
}

.quality-title {
    color: rgb(0, 0, 0);
    font-family: Helvetica;
    font-size: 29px;
    font-weight: 400;
}

.quality-img {
    margin: 0 auto;
    margin-top: 40px;
    display: block;
}

#cart-header-content {
    display: flex;
    justify-content: space-between;
    padding: 60px 140px 0 140px;
}

.header-cart__information {
    width: 250px;
    color: black;
}

.header-cart__information-instruction {
    color: black;
}

.fixed-block {
    background-color: black;
    width: 100%;
    height: 55px;
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;
    padding: 0 90px 0 195px;
    z-index: 1000;
}

.fixed-block__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.fixed-block__order {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 380px;
}

.fixed-block__promo {
    color: rgb(255, 255, 255);
    font-family: Helvetica;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
}

.fixed-block__price {
    color: rgb(255, 255, 255);
    font-family: Helvetica;
    font-size: 17px;
    font-weight: 700;
}

.fixed__block-button {
    color: rgb(0, 0, 0);
    font-family: Helvetica;
    font-size: 18px;
    font-weight: 700;
    width: 181.08px;
    height: 42.31px;
    border-radius: 3.38px;
    background: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.content {
    padding-top: 35px;
    padding-bottom: 80px;
}

.content__wrapper {
    display: flex;
    justify-content: space-between;
    height: 100vh;
}

.content__cart {
    height: 50%;
}

.content__films {
    height: 100%;
    overflow-y: auto; 
}

.content__cart-block {
    position: relative;
    width: 850px;
    height: 100%;
    border-radius: 3.38px;
    background: rgb(246, 246, 246);
    display: flex;
    align-items: center;
    overflow-x: auto; /* Добавляем горизонтальный скролл */
    white-space: nowrap;
}

.content__cart-title, .content__films-title {
    color: rgb(57, 57, 57);
    font-family: Helvetica;
    font-size: 16.92px;
    font-weight: 500;
    margin-bottom: 15px;
}


.content__cart-information {
    display: flex;
    justify-content: space-around;
    width: 100%;
    position: absolute;
    bottom: 45px;
}

.content__cart-text {
    color: rgb(58, 58, 62);
    font-family: Helvetica;
    font-size: 16.08px;
    font-weight: 700;
}

.content__cart-link, .content__delivery-link {
    color: rgb(58, 58, 62);
    font-family: Helvetica;
    font-size: 13.54px;
    font-weight: 400;
    cursor: pointer;
}

.content__delivery-icon img {
    width: 34px;
}

.content__cart-link:hover, .content__delivery-link:hover {
    text-decoration: underline;
}

.content__delivery {
    display: flex;
    margin-top: 30px;
    padding-left: 50px;
}

.content__delivery-content {
    margin-left: 20px;  
    color: rgb(58, 58, 62);
    font-family: Helvetica;
    font-size: 13.54px;
}

.content__delivery-title {
    font-weight: 700;
}

.content__delivery-descr {
    font-weight: 400;
}

.content__films-elem {
    width: 469px;
    height: 233px;
    border-radius: 3.38px;
    background: rgb(246, 246, 246);
    margin-bottom: 30px;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 50px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.content__films-text {
    color: rgb(57, 57, 57);
    font-family: Helvetica;
    font-size: 18px;
    font-weight: 500;
}

.plus {
    width: 37.69px;
    height: 37.69px;
    background: rgb(0, 0, 0);
    border-radius: 50%;
    color: rgb(255, 255, 255);
    font-family: Space-Grotesk;
    font-size: 29.32px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
}

.minus {
    width: 37.69px;
    height: 37.69px;
    border-radius: 50%;
    background: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
}

.disabled-btn {
    background: rgb(255, 255, 255);
    opacity: 0.32;
}

.minus-elem {
    width: 12.56px;
    height: 4.19px;
    background: rgb(0, 0, 0);
}

.quantity {
    color: rgb(57, 57, 57);
    font-family: Helvetica;
    font-size: 16.63px;
    font-weight: 700;
}


.content__films-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 209px;
}

.content__films-img img {
    height: 178px;
}

.content__films-price {
    color: rgb(57, 57, 57);
    font-family: Helvetica;
    font-size: 18px;
    font-weight: 500;
}

.content__films-btn {
    font-family: Helvetica;
    color: rgb(121, 121, 121);
    font-size: 16.2px;
    font-weight: 500;
    cursor: pointer;
}

.content__films-btn:hover {
    text-decoration: underline;
}

.content__films-info:nth-child(2n) {
    margin-top: 104px;
    align-items: end;
}



#magic-color-btn {
    background: rgb(231, 154, 27);
}

#monochrom-btn {
    background: rgb(127, 127, 127);
}

.content__films-best {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
    font-family: Helvetica;
    font-size: 13.84px;
    font-weight: 500;
    text-transform: lowercase;
    border: 1.12px solid rgb(0, 0, 0);
    border-radius: 3.36px;
    width: 126.5px;
    height: 27.99px;    
    margin-top: 15px;
}

#best-info {
    margin-top: 53px;
    align-items: end;
}

.content__films-add {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4.22px;
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-family: Helvetica;
    width: 119px;
    height: 39px;
    font-size: 17px;
    font-weight: 500;
    cursor: pointer;
    user-select: none;
}

.content__films-add:hover {
    background: #2d2d2d;
}

.cross-out-price {
    text-decoration: line-through;
    color: rgb(179, 179, 179);
}

.small-price {
    color: rgb(179, 179, 179);
    font-family: Helvetica;
    font-weight: 500;
}


.cart-items {
    display: inline-flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.cart-item {
    position: absolute;
    display: inline-block;
    text-align: center;
}

.cart-item-image {
    display: block;
    height: 250px;
    width: auto;
}

.cart-item-details {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}

.cart-item-name {
    color: rgb(57, 57, 57);
    font-family: Helvetica;
    font-size: 17px;
    font-weight: 500;
    margin-right: 5px;
    user-select: none;
    cursor: pointer;
}

.cart-item-remove {
    cursor: pointer;
    background: none;
    border: none;
    color: #333; /* Адаптируйте цвет кнопки по необходимости */
    font-size: 16px;
    z-index: 100;
}

#code {
    width: 540px;
    height: 485px;
    background-color: #fff;
    padding-top: 120px;
    padding-left: 100px;
    position: relative;
}

.code__btn {
    display: block;
    border-radius: 2px;
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-family: Helvetica;
    font-size: 17px;
    font-weight: 500;
    width: 157px;
    height: 39px;
    margin-top: 25px;
    border: none;
}

.code__btn:hover {
    background-color: #2d2d2d;
}

.code__form label {
    display: block;
    color: rgb(39, 39, 39);
    font-family: Helvetica;
    font-size: 18px;
    font-weight: 400;
}

#discount-code {
    border-radius: 2px;
    background: rgb(243, 243, 243); 
    width: 340px;
    height: 49px;
    border: none;
    margin-top: 25px;
}
.code__descr {
    position: absolute;
    bottom: 20px;
    color: rgb(39, 39, 39);
    font-family: Helvetica;
    font-size: 15px;
    font-weight: 400;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 0.2;
    }
    40% {
        opacity: 0.4;
    }
    60% {
        opacity: 0.6;
    }
    80% {
        opacity: 0.8;
    }
    100% {
        opacity: 1;
    }
}

.fade-in {
    animation: fadeIn 1s ease-out;
}

.fade-in {
    animation: fadeIn 0.5s ease-out;
}

.mobile-delivery-block {
    display: none;
}


/* @media (max-width: 1799px) {
    .promo__delivery-content {
        font-size: 14px;
        width: 520px;
    }

    .header__information {
        font-size: 15px;
        width: 270px;
    }

    .header__title {
        font-size: 66px;
        width: 518px;
    }

    .header__button a {
        font-size: 21px;
    }
} */

@media (max-width: 1439px) {
    .container {
        width: 1140px;
    }

    .benefits__item {
        width: 360px;
    }

    .content__cart-block {
        width: 680px;
    }

    .content__films-elem {
        width: 380px;
        height: 175px;  
        padding-right: 18px;
        padding-left: 20px;
    }

    .content__films-add {
        width: 100px;
        height: 32px;  
        font-size: 15px; 
    }

    .content__films-info:nth-child(2n) {
        margin-top: 50px;
    }

    .content__films-img img {
        height: 125px;
    }

    .content__films-best {
        margin-top: 6px;
    }

    #best-info {
        margin-top: 15px;
    }

    .content__films-text {
        font-size: 17px;
    }

    .content__films-btn {
        font-size: 14px;
    }

    .content__films-price {
        font-size: 17px;
    }

    .content__films-best {
        width: 116.5px;
        height: 24.99px;    
        font-size: 12.5px;
    }

    .cart-item-image {
        height: 220px;
    }

    .header__button {
        width: 239px;
        height: 45px; 
        font-size: 19px;   
    }

    .development__wrapper {
        height: 500px;
        padding-top: 60px;
    }

    .development__wrapper-descr {
        font-size: 23px;
        margin-top: 112px;
    }

    .development__wrapper-link {
        font-size: 15px;
        margin-top: 139px;
    }

    .eco__wrapper {
        height: 500px;
        padding-top: 60px;
    }

    .eco__wrapper-link {
        font-size: 15px;
    }

    .saving__wrapper {
        height: 500px;
        padding-top: 90px;
    }

    .saving__wrapper-link {
        font-size: 15px;
    }

    .information__elem {
        width: 554px;
        height: 500px;
    }

    #frames-info, #instagram-info {
        top: 265px;
        font-size: 24px;
    }

    .types__wrapper {
        height: 500px;
        padding: 50px 0 70px 130px;
    }

    .types__wrapper img {
        height: 384px;
    }

    .types__wrapper-content {
        font-size: 24px;
    }

    .types__wrapper-link {
        font-size: 15px;
    }

    .mission__wrapper {
        height: 500px;
    }

    .mission__photo {
        overflow: hidden;
    }

    .mission__descr {
        font-size: 24px;
    }

    .mission__descr-link {
        font-size: 16px;
    }

    .films__wrapper {
        height: 500px;
        padding-top: 40px;
    }

    .films__container {
        margin-top: 60px;
        width: 760px;
    }

    .films__container img {
        height: 260px;
    }

    .films__container-elem {
        width: 240px;
        height: 245px;
    }

    .films__title {
        font-size: 24px;
    }

    .films__link {
        margin-top: 40px;
    }
    
    .eco__wrapper-title {
        font-size: 24px;
    }

    .saving__wrapper-title {
        font-size: 24px;
    }
}

@media (max-width: 1279px) {
    .container {
        width: 960px;
    }
    
    .benefits__item {
        width: 300px;
    }

    .information__elem {
        width: 465px;
    }

    .films__title {
        font-size: 23px;
    }

    .films__link {
        font-size: 15px;
    }

    .mission__descr {
        font-size: 23px;
    }

    .mission__descr-link {
        font-size: 14px;
    }

    #frames-info, #instagram-info {
        font-size: 23px;
    }

    .films__wrapper {
        height: 450px;
    }

    .films__container {
        width: 740px;
        margin-top: 45px;
    }

    .films__container img {
        height: 245px;
    }

    .films__link {
        margin-top: 35px;
    }

    .mission__wrapper {
        height: 450px;
    }

    .development__wrapper {
        height: 450px;
        padding-top: 50px;
        padding-left: 90px;
    }

    .development__wrapper-descr {
        margin-top: 108px;
    }

    .development__wrapper-link {
        margin-top: 110px;
    }

    .eco__wrapper {
        height: 450px;
        padding-top: 50px;
        padding-left: 90px;
    }

    .eco__wrapper-link {
        bottom: 45px;
    }
    
    .types__wrapper {
        height: 450px;
        padding-left: 100px;
    }

    .types__wrapper img {
        height: 335px;
    }

    .scroll-content {
        width: 970px;
    }
}

@media (max-width: 1023px) {
    .container {
        width: 720px;
    }

    .benefits__item {
        width: 225px;
    }

    .promo__delivery-content {
        width: 585px;
    }

    .films__wrapper {
        padding-top: 30px;
        padding-bottom: 0;
    }

    .films__container {
        width: 660px;
    }

    .mission__wrapper {
        flex-direction: column;
        height: 1075px;
    }

    .mission__photo img {
        height: 800px;
        width: 100%;
    }

    .mission__descr-link {
        bottom: -56px;
    }

    .information__elem {
        width: 100%;
    }

    .information__elem img {
        width: 100%;
    }

    #frames-info, #instagram-info {
        top: 287px;
        left: 90px;
    }

    .types__wrapper {
        padding-left: 60px;
    }

    #scrollBlock {
        display: none;
    }

    #scrollBlock-mobile {
        display: flex;
    }

    .scroll-content {
        width: 690px;
    }

    .header__button {
        display: none;
    }

    .header__information-instruction {
        display: none;
    }

    .header__content {
        padding: 0 90px;
        padding-top: 14vh;
        margin-top: 0;
    }

    .header__information {
        width: 100px;
    }

    .header {
        display: block;
    }

    .header__title {
        padding-top: 26vh;
    }

    .header__logo img {
        height: 33px;
    }

    .header__information {
        width: 175px;
    }

    .header__information-icon img {
        height: 33px;
        width: 33px;
    }

    .header__information-lang {
        font-size: 30px;
    }

    .promo__delivery-content {
        display: none;
    }

    .scroll-link {
        font-size: 18px;
    }

    .scrol-btn {
        font-size: 20px;
        width: 275px;
    }
    
}

@media (max-width: 767px) {
    .container {
        width: 100%;
    }

    .header__content {
        padding-left: 25px;
        padding-right: 25px;
        padding-top: 3vh;
    }

    .header__logo img {
        height: 23px;
    }

    .header__information-icon img {
        height: 23px;
        width: 23px;
    }

    .header__information-lang {
        font-size: 22px;
    }

    .header__information {
        width: 115px;
    }

    .header__title {
        width: 275px;
        font-size: 35px;
        padding-top: 30vh;
    }

    #scrollBlock-mobile {
        display: flex;
        left: 0;
        width: 100vw;
    }

    .films {
        padding-top: 30px;
    }

    .benefits {
        padding-top: 25px;
    }


    .benefits__wrapper {
        flex-direction: column;
    }

    .benefits__item {
        width: 90%;
        margin: 0 auto;
        height: 130px;
        margin-bottom: 10px;
    }

    .benefits__item-descr {
        margin-top: 26px;
    }
    
    .films__wrapper {
        width: 90%;
        margin: 0 auto;
    }

    .films__title {
        font-size: 21px;
    }

    .films__container img {
        height: 193px;
    }

    .films__container {
        margin: 0 auto;
        margin-top: 60px;
    }

    #first-img {
        position: relative;
    }
    
    #second-img {
        position: absolute;
        left: 18%;
    }
    
    #third-img {
        position: absolute;
        left: 37%;
    }

    .films__link {
        margin-top: 50px;
    }

    .mission__wrapper {
        width: 90%;
        margin: 0 auto;
        height: 583px;
    }

    .mission__photo img {
        width: 100%;
        height: 267px;
    }

    .mission__descr {
        font-size: 19px;
        padding-left: 40px;
        width: 297px;
        padding-right: 0;
        padding-top: 40px;
    }

    .development__wrapper {
        width: 90%;
        margin: 0 auto;
        padding-top: 45px;
        padding-left: 45px;
    }

    .development__wrapper-descr {
        font-size: 21px;
        margin-top: 103px;
    }

    .eco__wrapper {
        width: 90%;
        margin: 0 auto;
        padding-top: 45px;
        padding-left: 45px;
    }

    .eco__wrapper-title {
        font-size: 21px;
    }

    .information__wrapper {
        margin: 0 auto;
        width: 90%;
    }

    .information__elem {
        width: 100%;
        height: 377px;
    }

    #frames-info, #instagram-info {
        font-size: 21px;
        left: 35px;
        top: 187px;
    }

    .types__wrapper {
        width: 90%;
        margin-right: auto;
        margin-left: auto;
        flex-direction: column-reverse;
        height: 557px;
        padding-top: 35px;
        padding-left: 0;
        justify-content: space-between;
        position: relative;
        padding-bottom: 90px;
    }

    .types__wrapper-content {
        margin: 0 auto;
        font-size: 21px;
        position: static;
    }

    .types__wrapper-link {
        position: absolute;
        bottom: 36px;
        left: 50%;
        transform: translateX(-50%);
    }

    .scroll-content {
        width: 100%;
        padding-left: 25px;
        padding-right: 15px;
    }

    .scroll-link {
        font-size: 15px;
    }

    .scroll-btn {
        width: 206.62px;
        height: 42.5px;
        font-size: 19px;
    }

    html, body {
        overflow-x: hidden;
    }
    
    .mobile-delivery-block {
        display: flex;
        border-radius: 5px;
        background: rgb(0, 0, 0);
        width: 90%;
        margin: 0 auto;
        margin-top: 17px;
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 19px;
        padding-bottom: 19px;
    }

    .mobile-delivery__descr {
        color: rgb(255, 255, 255);
        font-family: Helvetica;
        font-size: 15px;
        font-weight: 700;
    }

    .mobile-delivery__link {
        color: rgb(255, 255, 255);
        font-family: Helvetica;
        font-size: 14px;
        font-weight: 400;
        margin-top: 10px;
    }

    .mobile-delivery__icon {
        margin-right: 20px;
    }
    
}

