@font-face {
    font-family: 'Helvetica';
    src: url('fonts/Helvetica.ttf') format('ttf');
}

.container {
    position: relative;
    max-width: 1365px;
    margin: 0 auto;
}


.promo__delivery {
    background-color: black;
    height: 53px;
    display: flex;
    align-items: center;
}

.promo__delivery-content {
    width: 590px;
    margin: 0 auto;
    color: rgb(255, 255, 255);
    font-family: Helvetica;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 19px;
}

.promo__delivery-icon {
    margin-right: 14px;
}

.promo__delivery-text {
    font-weight: 700;
    display: flex;
    align-items: center;
}

.promo__delivery-link {
    font-weight: 400;
    position: relative;
    cursor: pointer;
}

.header {
    min-height: 100vh;
    background: url(../img/header-image.jpeg) no-repeat 50%/cover;
    /* padding-bottom: 20px; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.header__content {
    padding: 0 150px;
    /* padding-top: 54px; */
    color: white;
    display: flex;
    justify-content: space-between;
}

.header__logo {
    font-family: Space-Grotesk;
    font-size: 32.32px;
    font-weight: 700;
    line-height: 27px;
}

.header__information {
    display: flex;
    width: 310px;
    justify-content: space-between;
    align-items: center;
    font-family: Helvetica;
    font-size: 18px;
}

.header__information-instruction a {
    font-weight: 700;
    line-height: 19px;
    text-decoration: none;
    color: #fff;
    transition: color 0.3s;
    position: relative;
}



.header__information-instruction a::after, .promo__delivery-link::after {
    content: ''; /* Обязательное свойство для псевдо-элемента */
    position: absolute;
    width: 100%;
    height: 1px; /* Высота линии подчёркивания */
    left: 0;
    bottom: -2px; /* Расположение под текстом */
    background-color: #fff; /* Цвет линии, как у текста */
    transition: transform 0.3s; /* Плавное изменение трансформации */
    transform: scaleX(0); /* Изначально линия не показывается */
    transform-origin: left; /* Начало трансформации (рост линии) слева */
  }
  
  /* Стиль для ссылки при наведении */
  .header__information-instruction a:hover::after, .promo__delivery-link:hover::after {
    transform: scaleX(1); /* Линия растягивается на всю ширину */
  }
  
  /* Стиль для ссылки при фокусе, полезно для доступности */
  .header__information-instruction a:focus::after, .promo__delivery-link:focus::after {
    transform: scaleX(1);
  }

.header__information-icon img {
    width: 20px;
    height: 20px;
    margin-bottom: 2px;
}

.header__information-lang {
    font-weight: 400;
    line-height: 20px;
}

.header__title {
    width: 626px;
    font-family: Helvetica;
    font-size: 77px;
    font-weight: 400;
    opacity: 0.67;
    color: rgb(255, 255, 255);
    margin: 0 auto;
    /* margin-top: 160px; */
    text-align: center;
}

.header__button {
    width: 274.55px;
    height: 49.17px;
    background-color: #fff;
    border: none;
    padding: 0;
    display: block;
    margin: 0 auto;
    /* margin-top: 260px; */
    /* margin-top: 240px; */
}

.header__button a {
    color: rgb(0, 0, 0);
    font-family: Helvetica;
    font-size: 24px;
    font-weight: 700;
    text-decoration: none;
}

.benefits {
    padding-top: 66px;
}

.benefits__wrapper {
    display: flex;
    justify-content: space-between;
}

.benefits__item {
    width: 420px;
    border-radius: 5px;
    background: rgb(246, 246, 247);
    padding: 20px 0 20px 25px;
    font-family: Helvetica;
    font-size: 22px;
    font-weight: 400;
}

.benefits__item-title {
    color: rgb(17, 17, 17);
    font-family: Helvetica;
    font-size: 22px;
    font-weight: 400;
}

.benefits__item-descr {
    margin-top: 67px;
    color: rgb(112, 112, 112);
    font-family: Helvetica;
    font-size: 17.08px;
    font-weight: 400;
    /* width: 216px; */
}

.films {
    padding-top: 54px;
}

.films__wrapper {
    border-radius: 5px;
    background: rgb(246, 246, 247);
    padding-top: 70px;
    padding-bottom: 77px;
}

.films__title {
    text-align: center;
    color: rgb(17, 17, 17);
    font-family: Helvetica;
    font-size: 30px;
    font-weight: 400;
}

.films__container {
    display: flex;
    width: 965px;
    margin: 0 auto;
    margin-top: 145px;
    justify-content: space-between;
}

.film, .films__container-elem {
    width: 297px;
    height: 391px;
    border-radius: 14.53px;
    position: relative;
    color: white;
}

.film-title, .films__container-title {
    font-family: Space-Grotesk;
    font-size: 17.07px;
    font-weight: 700;
    position: absolute;
    top: 32px;
    left: 32px;
    letter-spacing: 2px;
}

.film-circle, .films__container-circle {
    width: 210px;
    height: 210px;
    box-sizing: border-box;
    border: 4.04px solid rgb(255, 255, 255);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    margin-top: -105px;
    left: 50%;
    margin-left: -105px;
}

.film-color, .films__container-color {
    font-family: Helvetica;
    font-size: 17.86px;
    font-weight: 400;
    position: absolute;
    bottom: 32px;
    left: 32px;
}

#color {
    background: linear-gradient(155.36deg, rgb(2, 41, 181) 6.254%,rgb(13, 161, 244) 123.853%);
}

#magic-color {
    background: linear-gradient(180.00deg, rgb(255, 138, 0),rgb(226, 205, 15) 100%);
}

#monochrom {
    background: linear-gradient(180.00deg, rgb(200, 200, 200),rgb(230, 230, 230) 100%);
    color: black;
}

#monochrom .films__container-circle, #monochrom .film-circle {
    border: 4.04px solid rgb(0, 0, 0);
}

.films__link {
    text-align: center;
    margin-top: 80px;
    color: rgb(90, 90, 90);
    font-family: Helvetica;
    font-size: 18px;
    font-weight: 700;
}

.mission {
    padding-top: 35px;
}

.mission__wrapper {
    border-radius: 5px;
    background: rgb(246, 246, 247);
    display: flex;
}

.mission__descr {
    padding-top: 50px;
    padding-left: 77px;
    text-transform: lowercase;
    width: 700px;
    color: rgb(0, 0, 0);
    font-family: Helvetica;
    font-size: 30px;
    font-weight: 400;
    position: relative;
}

.mission__descr-link {
    color: rgb(21, 21, 21);
    font-family: Helvetica;
    font-size: 18px;
    font-weight: 700;
    position: absolute;
    bottom: 54px;
}

.development {
    padding-top: 35px;
}

.development__wrapper {
    min-height: 736px;
    background: url('../img/dev-studio-img.jpg') no-repeat 50%/cover;
    padding-top: 80px;
    padding-left: 110px;
}

.development__wrapper-title {
    color: rgb(255, 255, 255);
    font-family: Helvetica;
    font-size: 29.04px;
    font-weight: 700;
}

.development__wrapper-descr {
    color: rgb(255, 255, 255);
    font-family: Helvetica;
    font-size: 30px;
    font-weight: 400;
    margin-top: 166px;
}

.development__wrapper-link {
    color: rgb(255, 255, 255);
    font-family: Helvetica;
    font-size: 18px;
    font-weight: 700;
    margin-top: 245px;
}

.eco {
    padding-top: 35px;
}

.eco__wrapper {
    min-height: 720px;
    background: url('../img/eco-img.jpg') no-repeat 50%/cover;
    padding: 76px 0 0 110px;
    position: relative;
}

.eco__wrapper-title {
    color: rgb(61, 137, 62);
    font-family: Helvetica;
    font-size: 30px;
    font-weight: 400;
}

.eco__wrapper-link {
    color: rgb(255, 255, 255);
    font-family: Helvetica;
    font-size: 18px;
    font-weight: 700;
    position: absolute;
    bottom: 67px;
}

.saving {
    padding-top: 35px;
}

.saving__wrapper {
    border-radius: 5px;
    background: rgb(246, 246, 247);
    padding-top: 130px;
    padding-left: 110px;
    height: 740px;
    position: relative;
}

.saving__wrapper-title {
    color: rgb(0, 0, 0);
    font-family: Helvetica;
    font-size: 30px;
    font-weight: 400;
}

.saving__wrapper-link {
    color: rgb(0, 0, 0);
    font-family: Helvetica;
    font-size: 18px;
    font-weight: 700;
    position: absolute;
    bottom: 67px;
}

.information {
    padding-top: 35px;
}

.information__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.information__elem {
    width: 665px;
    height: 738px;
    overflow: hidden;
    position: relative;
    margin-bottom: 20px;
}

.information__elem-title {
    color: rgb(61, 137, 62);
    font-family: Helvetica;
    font-size: 30px;
    font-weight: 400;
    width: 543px;
    margin: 0 auto;
}

.information__elem-img {
    margin: 0 auto;
    margin-top: 145px;
}

.information__elem img {
    display: block;
}

#development-information {
    border-radius: 5px;
    background: rgb(242, 242, 242);
    padding-top: 37px;
}


#frames-info {
    position: absolute;
    left: 80px;
    top: 370px;
    color: rgb(255, 255, 255);
    font-family: Helvetica;
    font-size: 30px;
    font-weight: 700;
}

#director-info {
    color: rgb(255, 255, 255);
    font-family: Helvetica;
    font-size: 30px;
    font-weight: 400;
    position: absolute;
    left: 80px;
    top: 290px;
}

#instagram-info {
    color: rgb(255, 255, 255);
    font-family: Helvetica;
    font-size: 30px;
    font-weight: 700;
    position: absolute;
    left: 40px;
    top: 353px;
}

.types {
    padding-top: 25px;
}

.types__wrapper {
    padding: 90px 0 90px 130px;
    margin-bottom: 35px;
    border-radius: 5px;
    display: flex;
}

.types__wrapper-content {
    color: rgb(0, 0, 0);
    font-family: Helvetica;
    font-size: 30px;
    font-weight: 400;
    margin-left: 100px;
    position: relative;
}

.types__wrapper-elem {
    width: 420px;
    height: 555px;
}

.types__wrapper-title {
    font-size: 23.33px;
}

.types__wrapper-circle {
    width: 296px;
    height: 296px;
    margin-top: -148px;
    margin-left: -148px;
}

.types__wrapper-color {
    font-size: 25.33px;
}

.types__wrapper-link {
    color: rgb(90, 90, 90);
    font-family: Helvetica;
    font-size: 18px;
    font-weight: 700;
    margin-top: 455px;
    position: absolute;
    bottom: 0;
    line-height: 15px;
}

#first-film-type {
    background: rgb(210, 219, 245);
}

#second-film-type {
    background: rgb(248, 222, 192);
}

#third-film-type {
    background: rgb(237, 237, 237);
}